*
*/
!README.md
!NOTICE
!package.json
!swagger-ui.js
!swagger-ui.js.map
!swagger-ui-standalone-preset.js
!swagger-ui-standalone-preset.js.map
!swagger-ui-es-bundle.js
!swagger-ui-es-bundle.js.map
!swagger-ui-es-bundle-core.js
!swagger-ui-es-bundle-core.js.map
!swagger-ui.css
!swagger-ui.css.map
!oauth2-redirect.html
!index.html
!index.css
!swagger-initializer.js
!swagger-ui-bundle.js
!index.js
!absolute-path.js
